@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!doctype html>
<html lang="en">
<head>
    <title>Babil Freelance - En uygun işi şimdi bulun</title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="~/adminthema/assets/css/nucleo-icons.css" rel="stylesheet" />

    <link href="~/adminthema/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="~/adminthema/assets/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />
    <link href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="~/images/siteelements/babilicon.png" rel="shortcut icon">
    <link href="~/css/admin.css" rel="stylesheet" />
</head>

<body>

    <header>

    </header>
   
            @RenderBody()

    <!--   Core JS Files   -->
    <script src="~/adminthema/assets/js/core/popper.min.js"></script>
    <script src="~/adminthema/assets/js/core/bootstrap.min.js"></script>
    <script src="~/adminthema/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/adminthema/assets/js/plugins/smooth-scrollbar.min.js"></script>
</body>


</html>
