<!doctype html>
@{
    Layout = null; 
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Babil Freelance - En uygun işi şimdi bulun</title>
    <meta name="description" content="Job Listing Bootstrap 5 Template" />
    <meta name="keywords" content="Onepage, creative, modern, bootstrap 5, multipurpose, clean, Job Listing, Job Board, Job, Job Portal" />
    <meta name="author" content="Shreethemes" />
    <meta name="website" content="https://shreethemes.in" />
    <meta name="email" content="support@shreethemes.in" />
    <meta name="version" content="1.0.0" />
    <!-- favicon -->
    <link href="~/images/siteelements/babilicon.png" rel="shortcut icon">
    <!-- Bootstrap core CSS -->
    <link href="~/thema/jobnova_v1.0.1/html/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/thema/jobnova_v1.0.1/html/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom  Css -->
    <link href="~/thema/jobnova_v1.0.1/html/css/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
    <link href="~/css/logo.css" rel="stylesheet" />

</head>

<body>
    <section class="bg-home d-flex align-items-center" style="background: url('/thema/jobnova_v1.0.1/html/images/hero/bg3.jpg') center;">
        <div class="bg-overlay bg-linear-gradient-2"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-12">
                    <div class="p-4 bg-white rounded shadow-md mx-auto w-100" style="max-width: 400px;">
                        <form action="/Account/ForgotPassword" method="post">
                            <a class="logo" href="/Home/MainPage">
                                <img src="~/images/logos/babillogodark.png" class="logo-ligth-mode" alt="" width="162.5" height="81.25">
                            </a>
                            <h6 class="mb-2 text-uppercase fw-semibold">Şifrenizi sıfırlayın</h6>

                            <p class="text-muted">Lütfen e-posta adresinizi girin. E-posta yoluyla yeni bir şifre oluşturmak için bir bağlantı alacaksınız.</p>

                            <div class="mb-3">
                                <label class="form-label fw-semibold">E-posta Adresiniz</label>
                                <input name="email" id="email" type="email" class="form-control" placeholder="ornek@website.com">
                            </div>

                            <button class="btn btn-primary w-100" type="submit">Gönder</button>

                            <div class="col-12 text-center mt-3">
                                <span><span class="text-muted small me-2">Şifrenizi hatırlıyor musunuz? </span> <a href="~/Account/Login" class="text-dark fw-semibold small">Giriş yap</a></span>
                            </div><!--end col-->
                        </form>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- javascript -->
    <script src="~/thema/jobnova_v1.0.1/html/js/bootstrap.bundle.min.js"></script>
    <script src="~/thema/jobnova_v1.0.1/html/js/feather.min.js"></script>
    <!-- Custom -->
    <script src="~/thema/jobnova_v1.0.1/html/js/plugins.init.js"></script>
    <script src="~/thema/jobnova_v1.0.1/html/js/app.js"></script>

</body>

</html>
