@model RegisterViewModel
<!doctype html>
@{
    Layout = null; 
}
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Babil Freelance - En uygun işi şimdi bulun</title>
    <meta name="description" content="Job Listing Bootstrap 5 Template" />
    <meta name="keywords" content="Onepage, creative, modern, bootstrap 5, multipurpose, clean, Job Listing, Job Board, Job, Job Portal" />
    <meta name="author" content="Shreethemes" />
    <meta name="website" content="https://shreethemes.in" />
    <meta name="email" content="support@shreethemes.in" />
    <meta name="version" content="1.0.0" />
    <!-- favicon -->
    <link href="~/images/siteelements/babilicon.png" rel="shortcut icon">
    <!-- Bootstrap core CSS -->
    <link href="~/thema/jobnova_v1.0.1/html/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/thema/jobnova_v1.0.1/html/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom  Css -->
    <link href="~/thema/jobnova_v1.0.1/html/css/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
    <link href="~/css/logo.css" rel="stylesheet" />
</head>

<body>
    <section class="bg-home d-flex align-items-center" style="background: url('/thema/jobnova_v1.0.1/html/images/hero/bg3.jpg') center;">
        <div class="bg-overlay bg-linear-gradient-2"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-12">
                    <div class="p-4 bg-white rounded shadow-md mx-auto w-100" style="max-width: 400px;">
                        <form id="registerForm" action="/Account/Register" method="post" onsubmit="return validatePasswords()">
                            <a class="logo" href="/Home/MainPage">
                                <img src="~/images/logos/babillogodark.png" class="logo-ligth-mode" alt="" width="162.5" height="81.25">
                            </a>
                            <h6 class="mb-3 text-uppercase fw-semibold">Hemen Kayıt Olun</h6>
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label fw-semibold">Adınız</label>
                                    <input asp-for="Firstname" name="Firstname" type="text" class="form-control" placeholder="Ahmet">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="form-label fw-semibold">Soyadınız</label>
                                    <input asp-for="lastname" name="LastName" type="text" class="form-control" placeholder="Yılmaz">
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-semibold">E-posta Adresiniz</label>
                                <input asp-for="Email" name="Email" id="email" type="Email" class="form-control" placeholder="örnek@gmail.com">
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-semibold" for="password">Şifre</label>
                                <input asp-for="Password" type="Password" class="form-control" id="password" name="Password" placeholder="*****">
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-semibold" for="confirmPassword">Şifreyi Onayla</label>
                                <input asp-for="ConfirmPassword" type="Password" class="form-control" id="confirmPassword" name="ConfirmPassword" placeholder="*****">
                            </div>

                            <div class="form-check mb-3">
                                <input asp-for="KvkkStatus" class="form-check-input" name="KvkkStatus" id="KvkkStatus" type="checkbox" value="false">
                                <label class="form-label form-check-label text-muted" for="KvkkStatus">
                                    <a href="~/Info/TermsOfService" class="text-primary">Kullanım Şartları</a> ile
                                    <a href="~/Info/PrivacyPolicy" class="text-primary">KVKK Aydınlatma Metni</a>’ni okudum ve kabul ediyorum.
                                </label>
                            </div>

                            <button class="btn btn-primary w-100" type="submit">Kayıt Ol</button>

                            <div class="col-12 text-center mt-3">
                                <span>
                                    <span class="text-muted small me-2">Zaten bir hesabınız var mı ? </span>
                                    <a href="~/Account/Login" class="text-dark fw-semibold small">Giriş Yap</a>
                                </span>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- javascript -->
    <script src="~/thema/jobnova_v1.0.1/html/js/bootstrap.bundle.min.js"></script>
    <script src="~/thema/jobnova_v1.0.1/html/js/feather.min.js"></script>
    <!-- Custom -->
    <script src="~/thema/jobnova_v1.0.1/html/js/plugins.init.js"></script>
    <script src="~/thema/jobnova_v1.0.1/html/js/app.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <!-- Şifre Doğrulama -->
    <script>
        function validatePasswords() {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            if (password !== confirmPassword) {
                return false; 
            }
            return true; 
        }

        // Checkbox değeri güncelleme
        $("#KvkkStatus").on('change', function () {
            if ($(this).is(':checked')) {
                $(this).val('true'); 
            } else {
                $(this).val('false'); 
            }

            $('#checkbox-value').text($(this).val()); 
        });

        $(document).ready(function () {
            $('#checkbox-value').text($('#KvkkStatus').val());
        });
    </script>
</body>
</html>
