@model ResetPasswordViewModel
<!doctype html>
@{
    Layout = null; 
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Babil Freelance - En uygun işi şimdi bulun</title>
    <meta name="description" content="Şifre Yenileme Sayfası" />
    <meta name="keywords" content="Şifre Yenileme, Kullanıcı Şifre, Güvenlik" />
    <meta name="author" content="BabilTR" />
    <meta name="website" content="https://babiltr.com" />
    <meta name="email" content="destek@babiltr.com" />
    <meta name="version" content="1.0.0" />
    <!-- favicon -->
    <link href="~/images/siteelements/babilicon.png" rel="shortcut icon">
    <!-- Bootstrap core CSS -->
    <link href="~/thema/jobnova_v1.0.1/html/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/thema/jobnova_v1.0.1/html/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Custom Css -->
    <link href="~/thema/jobnova_v1.0.1/html/css/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
    <link href="~/css/logo.css" rel="stylesheet" />
</head>

<body>
    <section class="bg-home d-flex align-items-center" style="background: url('/thema/jobnova_v1.0.1/html/images/hero/bg3.jpg') center;">
        <div class="bg-overlay bg-linear-gradient-2"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 col-12">
                    <div class="p-4 bg-white rounded shadow-md mx-auto w-100" style="max-width: 400px;">
                        <form action="/Account/ResetPassword" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <a class="logo" href="/Home/MainPage">
                                <img src="~/images/logos/babillogodark.png" class="logo-ligth-mode" alt="" width="162.5" height="81.25">
                            </a>
                            <div class="mb-3">
                                <label class="form-label fw-semibold">E-posta Adresiniz</label>
                                <input name="Email" id="email" type="email" class="form-control" value="@Model.Email" placeholder="ornek@website.com" readonly>
                            </div>

                            <input type="hidden" name="Token" value="@Model.Token" />

                            <div class="mb-3">
                                <label class="form-label fw-semibold">Yeni Şifre</label>
                                <input asp-for="NewPassword" name="newpassword" id="new-password" type="password" class="form-control" placeholder="Yeni şifrenizi girin">
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-semibold">Yeni Şifre (Tekrar)</label>
                                <input asp-for="ConfirmPassword" name="confirmpassword" id="confirm-password" type="password" class="form-control" placeholder="Yeni şifrenizi tekrar girin">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <button class="btn btn-primary w-100" type="submit">Şifreyi Yenile</button>
                        </form>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <!-- javascript -->

    <script src="~/thema/jobnova_v1.0.1/html/js/bootstrap.bundle.min.js"></script>
    <script src="~/thema/jobnova_v1.0.1/html/js/feather.min.js"></script>
    <!-- Custom -->
    <script src="~/thema/jobnova_v1.0.1/html/js/plugins.init.js"></script>
    <script src="~/thema/jobnova_v1.0.1/html/js/app.js"></script>

</body>

</html>
