
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BabilTR Hakkımızda Sayfası</title>
    <meta name="description" content="Job Listing Bootstrap 5 Template" />
    <meta name="keywords" content="Onepage, creative, modern, bootstrap 5, multipurpose, clean, Job Listing, Job Board, Job, Job Portal" />
    <meta name="author" content="Shreethemes" />
    <meta name="website" content="https://shreethemes.in" />
    <meta name="email" content="support@shreethemes.in" />
    <meta name="version" content="1.0.0" />
    <!-- AOS CSS -->
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">

</head>

<body>
    <!-- Hero Start -->
    <section class="bg-half-170 d-table w-100" style="background: url('/thema/jobnova_v1.0.1/html/images/hero/bg.jpg');">
        <div class="bg-overlay bg-gradient-overlay"></div>
        <div class="shooting-stars">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-12">
                    <div class="title-heading text-center">
                        <h5 class="heading fw-semibold mb-0 sub-heading text-white title-dark">Hakkımızda</h5>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>
    <!-- Hero End -->
    <!-- Start -->
    <section class="section">
        <div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh;">
            <!-- First Section: Text on left, Image on right -->
            <div class="row g-4 align-items-center mb-5">
                <div class="col-lg-6 col-md-6" data-aos="fade-right">
                    <div class="section-title ms-lg-5">
                        <h4 class="title mb-3">BABİL FREELANCE: Türkiye'nin Çeviri Platformu</h4>
                        <p class="text-muted para-desc mb-0">
                            Babil Freelance, Türkiye çapında serbest çeviri işi arayan freelancer çevirmenleri, profesyonel çeviri büroları, markalar ve tüzel kişiliklerle buluşturmayı hedeflemektedir. Web sitemiz, her türlü dil çifti arasında çeviri hizmeti sunan binlerce çevirmene istihdam sağlamayı amaçlarken, aynı zamanda işverenlerin ve çevirmenlerin iş akışlarını takip etmelerini sağlamaktadır.
                        </p>
                        <p class="text-muted para-desc mb-0">
                            Babil Freelance aracılığıyla, yazarlardan editörlere, içerik üreticilerinden çevirmenlere kadar, tüm uzmanlık alanlarından çeviri ihtiyaçlarınız için serbest çevirmenlere kolaylıkla ulaşabilirsiniz. Çeviri projelerinizin her aşamasını güvenle takip edebilir ve işlerinizi hızla tamamlayabilirsiniz.
                        </p>
                        <ul class="list-unstyled text-muted mb-0 mt-3">
                            <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Geniş bir işveren ağı ile fırsatlarınızı arttırın</li>
                            <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>İş akışınızı BabilCAT ile kolayca yönetin</li>
                            <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Ödeme ve fatura işlemlerini güvenle gerçekleştirin</li>
                        </ul>
                    </div>
                </div><!--end col-->
                <div class="col-lg-6 col-md-6" data-aos="fade-left">
                    <div class="img-container">
                        <img src="~/images/siteelements/aboutus1.jpg" class="img-fluid" alt="Image for Babil Freelance">
                    </div>
                </div><!--end col-->
            </div><!--end row-->
            <!-- Second Section: Text on right, Image on left -->
            <div class="row g-4 align-items-center">
                <div class="col-lg-6 col-md-6" data-aos="fade-right">
                    <div class="img-container">
                        <img src="/images/siteelements/aboutus2.jpg" class="img-fluid" alt="Image for Babil Freelance">
                    </div>
                </div><!--end col-->
                <div class="col-lg-6 col-md-6" data-aos="fade-left">
                    <div class="section-title ms-lg-5">
                        <h4 class="title mb-3">Çevirmene ve İşverene Özel Avantajlar</h4>
                        <p class="text-muted para-desc mb-0">
                            Babil Freelance, çeviri sektörü için özel olarak tasarlanmış altyapısı ile çalışanlara, çeviri projelerini BabilCAT üzerinden gerçekleştirme imkânı sunar. Bu sistem, iş arayış sürecini, projeyi ve ödeme süreçlerini bir arada sunarak, hem çalışanlar hem de işverenler için verimli bir çözüm oluşturur.
                        </p>
                        <p class="text-muted para-desc mb-0">
                            İşverenler, tüm çalışanların proje ilerleme süreçlerini platform üzerinden takip edebilir ve çevirmenlerle anlık olarak iletişim kurabilir. Proje teslimat tarihi, süreç boyunca anlık olarak izlenebilir, bu da işverenlere projelerini daha iyi yönetme olanağı sağlar.
                        </p>
                        <p class="text-muted para-desc mb-0">
                            Çevirmenler, Babil Freelance üzerinden başvurdukları projeleri takip edebilir, geçmiş projeleri inceleyebilir ve projelerini tamamladıktan sonra işvereni bilgilendirebilirler. Ayrıca, sistem üzerinden güvenli ödeme garantisi sunulmakta olup, işverenler sadece ücret ödemelerini gerçekleştirdikten sonra projeye tam erişim sağlayacaktır.
                        </p>
                        <ul class="list-unstyled text-muted mb-0 mt-3">
                            <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>İşverenler, proje ilerlemesini ve teslim tarihini izleyebilir</li>
                            <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Çevirmenlere güvenli ödeme garantisi sunulur</li>
                            <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Fatura ve ödeme işlemleri platform üzerinden yapılır</li>
                        </ul>
                    </div>
                </div><!--end col-->
                
            </div><!--end row-->
        </div><!--end container-->


        <div class="container mt-100 mt-60">
            <div class="row justify-content-center mb-4 pb-2">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h4 class="title mb-3">
                            Babil Freelance’in Avantajlarına Göz Atın!
                        </h4>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row">
                <!-- 1. Kutu -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2" data-aos="fade-up">
                    <div class="position-relative features text-center p-4 rounded shadow bg-white">
                        <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                            <i data-feather="phone" class="fea icon-ex-md"></i>
                        </div>
                        <div class="mt-4">
                            <h5 class="title text-dark">7/24 Destek</h5>
                            <p class="text-muted mt-3 mb-0">Her an ulaşabileceğiniz destek ekibimizle sorularınıza anında yanıt alın.</p>
                        </div>
                    </div>
                </div><!--end col-->
                <!-- 2. Kutu -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2" data-aos="fade-up" data-aos-delay="100">
                    <div class="position-relative features text-center p-4 rounded shadow bg-white">
                        <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                            <i data-feather="cpu" class="fea icon-ex-md"></i>
                        </div>
                        <div class="mt-4">
                            <h5 class="title text-dark">Freelance Çeviri İşleri</h5>
                            <p class="text-muted mt-3 mb-0">Dünyanın her yerinden çeviri projelerine kolayca ulaşın ve yeni fırsatlar yakalayın.</p>
                        </div>
                    </div>
                </div><!--end col-->
                <!-- 3. Kutu -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2" data-aos="fade-up" data-aos-delay="200">
                    <div class="position-relative features text-center p-4 rounded shadow bg-white">
                        <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                            <i data-feather="activity" class="fea icon-ex-md"></i>
                        </div>
                        <div class="mt-4">
                            <h5 class="title text-dark">Hızlı ve Kolay</h5>
                            <p class="text-muted mt-3 mb-0">Basit ve kullanıcı dostu arayüzümüzle iş aramanın tadını çıkarın.</p>
                        </div>
                    </div>
                </div><!--end col-->
                <!-- 4. Kutu -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2" data-aos="fade-up" data-aos-delay="300">
                    <div class="position-relative features text-center p-4 rounded shadow bg-white">
                        <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                            <i data-feather="clock" class="fea icon-ex-md"></i>
                        </div>
                        <div class="mt-4">
                            <h5 class="title text-dark">Zamandan Tasarruf Edin</h5>
                            <p class="text-muted mt-3 mb-0">Size uygun işleri hızla ve kolayca bulun, zamandan kazanın.</p>
                        </div>
                    </div>
                </div><!--end col-->
                <!-- 5. Kutu -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2" data-aos="fade-up" data-aos-delay="400">
                    <div class="position-relative features text-center p-4 rounded shadow bg-white">
                        <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                            <i data-feather="file-text" class="fea icon-ex-md"></i>
                        </div>
                        <div class="mt-4">
                            <h5 class="title text-dark">Güvenle Başvurun</h5>
                            <p class="text-muted mt-3 mb-0">Sahte iş ilanlarına karşı koruma ile gönül rahatlığıyla başvurun.</p>
                        </div>
                    </div>
                </div><!--end col-->
                <!-- 6. Kutu -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2" data-aos="fade-up" data-aos-delay="500">
                    <div class="position-relative features text-center p-4 rounded shadow bg-white">
                        <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                            <i data-feather="check-circle" class="fea icon-ex-md"></i>
                        </div>
                        <div class="mt-4">
                            <h5 class="title text-dark">Proje Takibi</h5>
                            <p class="text-muted mt-3 mb-0">Projelerinizi kolayca takip edin ve güncel kalın.</p>
                        </div>
                    </div>
                </div><!--end col-->
                <!-- 7. Kutu -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2" data-aos="fade-up" data-aos-delay="600">
                    <div class="position-relative features text-center p-4 rounded shadow bg-white">
                        <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                            <i data-feather="users" class="fea icon-ex-md"></i>
                        </div>
                        <div class="mt-4">
                            <h5 class="title text-dark">İşverenlerle Etkileşim</h5>
                            <p class="text-muted mt-3 mb-0">İş süreci boyunca işverenlerle kolayca iletişim kurabilirsiniz.</p>
                        </div>
                    </div>
                </div><!--end col-->
                <!-- 8. Kutu -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2" data-aos="fade-up" data-aos-delay="700">
                    <div class="position-relative features text-center p-4 rounded shadow bg-white">
                        <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                            <i data-feather="credit-card" class="fea icon-ex-md"></i>
                        </div>
                        <div class="mt-4">
                            <h5 class="title text-dark">Güvenli Ödeme</h5>
                            <p class="text-muted mt-3 mb-0">PayTR ile hızlı ve güvenli ödeme yapın.</p>
                        </div>
                    </div>
                </div><!--end col-->
            </div>
        </div><!--end container-->

        <div class="container mt-100 mt-60">
            <div class="row mt-md-5 pt-md-3 mt-4 pt-2 justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <h4 class="title mb-4">Sorunuz mu var? Bize Ulaşın!</h4>
                        <a href="/Info/Contact" class="btn btn-primary mt-3"><i class="uil uil-phone"></i> Bİze Ulaşın</a>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->

    </section><!--end section-->
    <!-- End -->
    <!-- Back to top -->
    <a href="#" onclick="topFunction()" id="back-to-top" class="back-to-top rounded fs-5"><i data-feather="arrow-up" class="fea icon-sm align-middle"></i></a>
    <!-- Back to top -->
    <!-- AOS JS -->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000, // Animasyon süresi
            easing: 'ease-in-out', // Easing efekti
            once: true // Animasyon sadece bir kez çalışsın
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const stars = document.querySelectorAll(".shooting-stars span");
            stars.forEach(star => {
                star.style.setProperty('--random-x', Math.random());
                star.style.setProperty('--random-y', Math.random());
            });
        });
    </script>
</body>
</html>